.smallText {
    font-size: 0.7rem;
    font-weight: 300;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: calc(100% - 120px);
    margin: auto;

    padding: 0 15px;
    // Window width >= 576px
        @include sm {
            padding: 0 20px;
        }
    // Window width >= 992px
        @include lg {
            margin-left: auto;
            margin-right: auto;
            max-width: 1100px;
        }
    // Window width >= 1400px
        @include rwd(1400) {
            margin-bottom: 20px;
            margin-top: 20px;
        }
}

@import 'include/header';

.options {
    padding: 1.2rem 0;
    .options-btn {
        background: var(--color-grey);
        padding: 0.8rem 1.2rem;
        border-radius: 30px;
        border: 0;
        font-size: 1rem;
        letter-spacing: 0.6px;
        display: inline-flex;
        align-items: center;
        svg {
            max-width: 20px;
            margin-right: 0.4rem;
        }
        &.selected {
            background: black;
            color: white;
        }
    }
}

.listings {
    padding: 2rem 0;
    .header {
        display: flex;
        align-items: center;
        .header-title {
            h2 {
                font-weight: 400;
                font-size: 1.7rem;
                margin-bottom: 0.5rem;
                margin-top: 0;
            }
            span {
                color: var(--color-greyDarker);
            }
        }
        .header-viewOptions {
            display: flex;
            align-items: center;
            margin: auto 0 auto auto;
            .viewAll {
                color: var(--color-green);
                padding-right: 2rem;
            }
            .viewMore {
                .arrow {
                    // background: red;
                    // align-items: center;
                    // justify-content: center;
                    background: var(--color-grey);
                    opacity: 0.3;
                    transition: all 0.2s ease-in-out;
                    cursor: pointer;
                    &.darker,
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .circle {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        display: inline-flex;
    }
    .listings-grid {
        display: flex;
        overflow: hidden;
        overflow-x: scroll;
        scroll-snap-type: x mandatory; // points d'accroche en cas de défilement
        scroll-behavior: smooth;

        // Hide scrollbar
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
        
        &::-webkit-scrollbar { //Chrome
            display: none;
            
        }

        .listings-col {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            // Mettre un block hors champ pour le slider
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 100%;

            scroll-snap-align: start;
        }

        .listings-grid-element {
            width: calc(1 / 3 * 100% - (1 - 1 / 3) * 25px);
            margin-top: 2rem;
            
            .image {
                height: 240px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .text-lower {
                padding: 0.6rem 0;
                span {
                    color: var(--color-greyDarker);
                }
            }
            .text {
                display: flex;
                align-items: center;
                border-bottom: 1px solid #ddd;
                padding: 1rem 0;
                h3 {
                    font-weight: 400;
                    margin-bottom: 0.3rem;
                    margin-top: 0;
                }
                span {
                    font-size: 0.8rem;
                    font-weight: 300;

                }
                .rating {
                    margin: auto 0 auto auto;
                    height: 100%;
                    span {
                        background: var(--color-grey);
                        font-size: 1rem;
                        color: black;
                    }
                }
            }

        }
    }


}